[submodule "amiga-ros2-nav"]
	path = amiga-ros2-nav
	url = git@github.com:ucmercedrobotics/amiga-ros2-nav.git
[submodule "amiga_ros2_behavior_tree/schemas"]
	path = amiga_ros2_behavior_tree/schemas
	url = git@github.com:ucmercedrobotics/gpt-mission-planner-schemas.git
[submodule "ros2-kortex-control"]
	path = ros2-kortex-control
	url = git@github.com:ucmercedrobotics/ros2-kortex-control.git
[submodule "zed-ros2-wrapper"]
	path = zed-ros2-wrapper
	url = git@github.com:stereolabs/zed-ros2-wrapper.git