[submodule "amiga-ros2-nav"]
	path = amiga-ros2-nav
	url = git@github.com:ucmercedrobotics/amiga-ros2-nav.git
[submodule "amiga_ros2_behavior_tree/schemas"]
	path = amiga_ros2_behavior_tree/schemas
	url = git@github.com:ucmercedrobotics/gpt-mission-planner-schemas.git
